@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Склад антитабачного магазина</h1>
    <div>
    <a style="width:15%"  class="btn btn-primary" asp-controller="Pod" asp-action="PodTablePage">Таблица подов</a>
        <a style="width:15%" class="btn btn-primary" asp-controller="Pod" asp-action="PodAdd">Добавить под</a>
        </div>
    <br/>
    <div>
    <a style="width:15%" class="btn btn-primary" asp-controller="Liquid" asp-action="LiquidTablePage">Таблица жидкостей</a>
        <a style="width:15%" class="btn btn-primary" asp-controller="Liquid" asp-action="LiquidAdd">Добавить жидкость</a>
        </div>
</div>